/* Custom Properties */

:root {
  --clr-orange: #fa7455;
  --clr-green: #1f605c;
  --clr-lightgreen: #a5cab9;
  --clr-grey: #676767;
  --clr-white: #fff;
  --clr-black: #000;

  --ff-main: 'Poppins', sans-serif;
  --ff-sec: 'Playfair Display', serif;

  --fw-regular: 400;
  --fw-bold: 700;
  --fw-xbold: 800;
}

/* CSS RESET */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
/* 
* {
  border:1px solid red !important;
} */

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-main);
  font-weight: var(--fw-regular);
  font-size: 1rem;
}

img, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*-----------
Fonts
----------- */

.hero-text,
.mid-text,
.mid-text-top,
.reviews,
.abouth1,
.about-cta {
  font-family: Playfair display, sans-serif;
}


/* Navbar */

header {
  background-color: rgba(31, 96, 92, 0.408);
  position: fixed;
  z-index: 30;
  width: 100%;
  top: 0;
  left: 0;
  transition: background-color 0.4s ease-in-out;
  /* box-shadow: 1px 14px 6px 3px rgba(51, 51, 51, 0.11);
  -webkit-box-shadow: 1px 14px 5px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 14px 5px 1px rgba(0,0,0,0.15); */
}


li {
  list-style: none;
}

header nav a {
  color: var(--clr-white);
  text-decoration: none;
}

header nav a::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: var(--clr-green);
  transition: width .2s ease-in;
}

header nav a:hover::after {
  width: 100%;
}

.navbar {
  min-height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5em;
  margin: auto;
  
}

.nav-logo {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: var(--fw-xbold);
  padding-left: 2em;
}

.nav-logo:hover::after {
  cursor: pointer;
  width: 0;
}

.d {
  color: var(--clr-orange);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 20px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--clr-white);
}

.bar-scrolled {
  background-color: var(--clr-green);
}

nav i {
   color: var(--clr-white);
   margin-right: 2em;
}

.header-scrolled {
  background-color: var(--clr-white);
  color: var(--clr-green);
  box-shadow: 1px 10px 6px 3px rgba(126, 126, 126, 0.8);
  -webkit-box-shadow: 1px 10px 5px 1px rgba(117, 117, 117, 0.15);
  -moz-box-shadow: 1px 10px 5px 1px rgba(88, 88, 88, 0.15);
}

.header-scrolled nav a {
  color: var(--clr-green);
}

.header-scrolled nav i {
  color: var(--clr-green);
}

.header-scrolled nav div .bar {
  color: var(--clr-green);
}


/*----------------
Main
-----------------*/

.hero-img {
  background-image: url(../images/mainheader.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: bottom 60% left 0;
  display: grid;
}

.hero-text {
  position: absolute;
  text-align: left;
  margin: 3rem clamp(0.5rem, 8vw, 38rem);
  color: white;
  font-family: var(--ff-sec);
  font-weight: var(--fw-xbold);
  font-size: clamp(1rem, 9vw + 1rem, 8rem);
  max-width: 900px;
}

.btn-header {
  position: absolute;
  text-align: center;
  align-self:flex-end;
  justify-self: center;
  margin-bottom: 100px;
  display: flex;
  gap: 1em;
}

 .cta-button {
  text-align: center;
  padding: 0.6em 2em;
  background-color: var(--clr-white);
  color: var(--clr-green);
  width: 170px;
  text-decoration: none;
  transition: 0.5s;
  border: solid 1px var(--clr-white);
} 

.cta-button:hover {
  background: none;
  color: var(--clr-white);
}

.eco-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 10px;
}

.eco-group i {
  align-items: center;
  flex-direction: row;
  text-align: center;
  font-size: var(5rem);
  color: var(--clr-green);
  opacity: 0.6;

}

.mid-text-top, .mid-text {
  margin: 6.5em 0;
  font-size: 1.6rem;
  color: var(--clr-green);
  font-family: var(--ff-sec);
  text-align: center;
}

.mid-text {
  max-width: 900px;
  margin: 6.5em auto 0;
}

.explore,
.new-in {
  color: var(--clr-green);
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: var(--ff-main);
}

.about-card {
  margin: 10rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  max-width: 900px;
  
}

.about-card img {
  object-fit: cover;
  margin: auto;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: left;
  color: var(--clr-green);
  line-height: 2rem;
  width: calc(100% / 2);
  font-family: var(--ff-sec);
  font-size: 1.1rem;
}

.learn-more {
  margin-top: 25px;
  font-weight: var(--fw-bold);
}

.background-img-about {
  background-color: #000;
  height: 400px;
  width: calc(100% / 2);
  object-fit: cover;
  z-index:10;
  position: relative;
  transition: transform 2s ease-in;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    overflow: hidden;
    
}

.about-card img:hover {
  z-index: 5;
  opacity: 0.3;
  transform: scale(1.2);
  transition: transform 2s ease;
}

.about-img-h3 {
  position: absolute;
  z-index: 9;
  color: var(--clr-white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  
}

.bold {
  font-weight: var(--fw-bold);
}

/* CARD CONTAINER */

.caro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 35px;
}

.wrapper {
  max-width: 1600px;
  position: relative;
} 

.caro-container .wrapper .carousel {
  display: flex;
  cursor: pointer;
  overflow: hidden;
  scroll-behavior: smooth;
}

.caro-container .wrapper .carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.caro-container .wrapper .carousel.dragging .product-card {
  pointer-events: none;
}

/* CARD */

.product-card {
  flex: 0 0 auto;
  width: calc(100% / 4);
  height: 600px;
  margin-left: 12px
}

.product-card:first-child {
  margin-left: 0px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 500px;
  /* overflow: hidden; */
}

.image-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-tag {
  position: absolute;
  color: var(--clr-white);
  font-size: 0.7rem;
  background-color: var(--clr-grey);
  padding: 12px 15px;
}

.card-btn {
  position: absolute;
  bottom: 1px;
  right: 25%;
  transform: translateY(-50%);
  padding: 10px;
  width: 50%;
  border: none;
  outline: none;
  color: var(--clr-green);
  text-align: center;
  background: var(--clr-white);
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 0.9;
}

.card-btn:hover {
  background: none;
  outline: var(--clr-white) solid 1px;
  color: var(--clr-white);
  border-bottom: none;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 3px;
  color: var(--clr-green);
}

.card-price {
  margin: 10px 10px 0 3px;
  color: var(--clr-green);
}

.actual-price {
  color: var(--clr-grey);
  opacity: 0.5;
  text-decoration: line-through;
  font-size: 0.875rem;
}

.wrapper i {
  height: 46px;
  width: 46px;
  text-align: center;
  line-height: 46px;
  color: var(--clr-grey);
  background: var(--clr-white);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 2;
}

.wrapper i:first-child {
  left: -23px;
  display: none;
}

.wrapper i:last-child {
  right: -23px;
}

/*----------- 
Products Page
------------*/

.container {
  max-width: 670px;
  margin: 0 auto;
}

.products-h1 {
  font-size: 1.6em;
  word-spacing: 4px;
}

.select-form {
  margin: 0 0 30px 35px;
  width: 200px;
}

.selecter {
  color: #1f605c;
  border: none;
  margin-left: 5px;
  text-decoration: underline;
  width: 65px;
  font-size: 16px;
  font-weight: 600;
}

.label-products {
  font-size: 14px;
}

.block p,
.block div {
  color: #1f605c;
}

/*-----------
Product Specific Page
------------*/

.ps-main {
  max-width: 1000px;
  margin: 0 auto;
}

.block-specific {
  display: inline-block;
  width: 65%;
  height: 250px;
  border: solid 1px #1f605c;
  margin: 120px 0 30px 0;
}

.img-specific {
  width: 180px;
  height: 210px;
  padding: 10px 0px 0px 0px;
}

.jacket-info,
.jacket-price {
  border-bottom: #1f605c solid 1px;
  font-size: 14px;
  text-align: left;
  padding: 0 50px;
}

.jacket-info div {
  margin-bottom: 20px;
}

.jacket-info p {
  max-width: 500px;
  margin: 0 auto;
}

.ps-jacket {
  margin-top: 10px;
  font-size: 16px;
}

.price,
.price-checkout {
  font-weight: bold;
  font-size: 16px;
  margin: 5px 0 10px 0;
}

.size-form {
  border: #1f605c solid 1px;
  border-top: none;
  border-left: none;
  padding: 10px 0 10px 0;
  line-height: 30px;
  width: 50%;
  text-align: center;
}

.ps-buy {
  width: 50%;
  text-transform: uppercase;
}

.ps-buttons {
  display: flex;
  height: 50px;
  margin-bottom: 35px;
}

.cart-text {
  line-height: 50px;
}

/*-----------
Checkout Page
-------------*/

.main-checkout {
  max-width: 1200px;
  margin: 0 auto;
}

.order-summary {
  font-size: 16px;
  margin: 0 0 10px 50px;
}

.check-block {
  width: 50%;
  text-align: center;
  border: solid 1px #1f605c;
  margin: 0 0 0 50px;
}

.check-img {
  width: 50%;
  height: 5.5em;
  padding: 10px 15px;
  object-fit: contain;
}

.summary {
  margin-bottom: 10px;
  height: 130px;
}

.summary,
.subtotal,
.total {
  display: flex;
  align-items: center;
  border-bottom: #1f605c solid 1px;
}

.summary-right {
  width: 50%;
  height: 120px;
  margin: 10px 30px;
  padding-top: 15px;
  line-height: 30px;
}

.shipping {
  text-align: center;
  padding-bottom: 10px;
  width: 50%;
}

.cost-shipping {
  text-align: center;
  padding-bottom: 10px;
  width: 50%;
}

.subtotal {
  margin-bottom: 20px;
}

.total {
  height: 30px;
  margin-bottom: 10px;
}

.total-text,
.total-price {
  text-align: center;
  width: 50%;
  padding-bottom: 15px;
  font-size: 1.2em;
}

.total-price {
  font-weight: bold;
}

.buy-button {
  margin: 0 auto 20px;
  font-weight: 600;
  padding: 10px 0;
  width: 75%;
  text-transform: uppercase;
  border-radius: 1px;
}

/*------------
Success Page
-------------*/

.success-p1,
.success-p2 {
  text-align: center;
  margin: 40px auto 20px;
  width: 50%;
  font-size: 18px;
}

.success-btn {
  width: 50%;
  padding: 10px 0;
  margin: 70px auto 150px;
  border-radius: 4px;
  max-width: 350px;
}

/*-----------
About us/Sale
------------*/

.about-section {
  display: flex;
  justify-content: center;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  position: relative;
  padding: 20px 50px;
  max-width: 1600px;
}

.about-block {
  height: 650px;
  width: calc(100% / 2);
}

.about-block img {
  height: 650px;
  object-fit: cover;
}

.about-container a h2 {
  position: absolute;
  top: 45%;
  text-decoration: none;
  color: var(--clr-white);
  font-size: 3rem;
  font-weight: var(--fw-xbold);
}

.about-link {
  text-align: center;
  display: flex;
  justify-content: center;
}

/* REVIEWS */

.review-section {
  height: 400px;
  background-color: var(--clr-lightgreen);
  margin: 100px 0;
}

.review-carousel {
  position: relative;
  max-width: 1000px;
  height: 400px;
  margin: 200px auto;
  background-color: var(--clr-lightgreen);
  column-gap: 40px; 
}

.review-slide {
  background-color: var(--clr-lightgreen);
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: left;
  flex: 0 0 auto;
  width: calc(100% / 1);
  gap: 1rem;
  padding: 0 20px 0 50px;
  opacity: 0;
}

.review-slide[data-active] {
  opacity: 1;
}

.review-carousel ul {
  list-style: none;
}

.review-button {
  background: none;
  position: absolute;
  border: none; 
  top: 75%;
  color: var(--clr-green);
  z-index: 3;
  font-size: 3.5rem;
}

.review-button:hover {
  cursor: pointer;
}

.review-button.next {
  left: 55%;
}

.review-button.prev {
  left: 45%;
}

.review-slide h3 {
  font-size: 1.2rem;
  color: var(--clr-green);
  padding-bottom: 20px;
}

.stars {
  max-width: 120px;
}

.review-slide p {
  color: var(--clr-green);
  font-size: 1.3rem;
  font-style: italic;
  margin-bottom: 10px;
}

.review-slide div {
  color: var(--clr-green);
  font-size: 1rem;
}


/*---------
Footer
-----------*/

footer {
  width: 90%;
  height: 200px;
  border-top: solid #ddb361;
  display: block;
  margin: 0 auto;
  color: #1f605c;
}

footer ul {
  margin-top: 28px;
}

footer ul li,
.copyright {
  list-style: none;
  font-family: Playfair Display;
  line-height: 25px;
  padding: 0.2rem 0 0 0;
  font-weight: 400;
  font-size: 15px;
}

.copyright {
  padding-left: 2.5em;
}

.logo-parent,
footer li {
  position: relative;
}

footer a {
  height: 30px;
  width: 200px;
  position: absolute;
}

.footer-logo {
  position: absolute;
  width: 35%;
  right: 3em;
  bottom: 20px;
  max-width: 90px;
}

.acc-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/*-------------
About us page
--------------*/

.abouth1,
.contact-h1,
.products-h1,
.checkout-h1,
.success-h1,
.account-h1,
.faq-h1 {
  position: relative;
  padding: 100px 0 20px 0;
  color: #1f605c;
  margin: 0 0 20px 0;
  text-align: center;
}

.about-p,
.about-cta p,
.contact-info {
  padding: 20px;
  font-size: 14px;
  text-align: left;
  width: 80%;
  margin: 0 auto 0 auto;
  line-height: 28px;
}

.img-about {
  height: 40vh;
  width: 80%;
  margin: 10px auto;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.about-cta {
  height: 35vh;
  margin: 20px 0 30px 0;
  color: white;
}

.about-cta p {
  font-size: 30px;
  text-align: center;
  line-height: 40px;
  max-width: 420px;
}

.cnt-shop {
  border: white solid 1px;
  display: block;
  margin: 15px auto 0;
  width: 50%;
  text-align: center;
  padding: 7px;
  font-family: roboto, sans-serif;
  max-width: 330px;
}

.about-parent {
  display: grid;
  grid-template-columns: 4;
}

/* FAQ */

.faq-h1 {
  margin: 0 auto 20px;
}

.faq-container {
  max-width: 500px;
  margin: 0 auto;
}

.faq-block {
  border: #1f605c 1px;
  border-style: solid none;
  padding: 10px;
}

.faq-strong {
  font-weight: bold;
}

/*------------
Contact Page
-------------*/

.contact-info div {
  margin: 0 0 10px 15px;
}

.phone,
.email {
  font-weight: 600;
  font-size: 16px;
}

.open {
  font-size: 12px;
}

.contact-form,
.acc-form {
  display: flex;
  flex-direction: column;
  width: 74%;
  margin: 20px auto 50px auto;
  max-width: 500px;
}

.textarea {
  height: 50px;
}

.send-btn,
.acc-form button {
  margin-top: 20px;
  color: white;
  background-color: #1f605c;
  border: none;
  padding: 12px;
  font-size: 15px;
  text-transform: uppercase;
}

/*-----------------
Media querys
----------------*/




@media screen  and (max-width: 1400px) {

  .product-card {
    
    width: calc(100% / 3);
  }
}

@media screen  and (max-width: 950px) {
  .product-card {
    
    width: calc(100% / 2);
  }
}


@media (max-width: 769px) {

  /* Navbar */
  
  .hamburger {
    display: block;
    padding-right: 1rem;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%; 
    top:60px;
    gap: 2px;
    flex-direction: column;
    background-color: var(--clr-green);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 55;
  }

  .nav-item {
    margin: 1em 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-logo {
    padding-left: 1em;
  }

  /* Main */

  .hero-img {
    /* height: 70vh; */
    background-position-x: 60%;
    background-position-y: 40%;
  }

  .hero-text {

    padding-top: 50px;
  }


  .about-cta p {
    font-size: 37px;
    margin-bottom: 30px;
  }

  /* Checkout Page */

  .check-block {
    width: 30%;
    margin: 0 200px 0 100px;
  }

  .order-summary {
    margin-left: 100px;
  }

  /* About us */

  .about-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
    gap: 1rem;
  }

  .about-block {
    height: 350px;
    width: calc(100% / 1);
  }

  .about-block:last-child {
    height: 350px;
  }

  .about-link {
    margin-bottom: 20px;
  }

@media screen  and (max-width: 650px) {



  .wrapper {
    overflow: hidden;
  }

  .product-card {
    width: 100%;
    overflow: hidden;
  }

  .wrapper i:first-child {
    left: -13px;
  }
  
  .wrapper i:last-child {
    right: -13px;
  }
}
}

@media screen  and (max-width: 400px){

  .hero-text {
    font-size: 3rem;
    padding-top: 80px;
  }

  .cta-button {
   margin-bottom: 40px;
  }
}