body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  color: #1f605c;
}

/*-----------
Fonts
----------- */

.hero-text,
.mid-text,
.reviews,
.abouth1,
.about-cta {
  font-family: Playfair display, sans-serif;
}

/*---------
Navbar/header
---------- */

.header {
  background-color: #1f605c;
  box-shadow: 1.5px 1.5px 5px 0 rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header ul a {
  display: block;
  outline: 1px solid white;
  padding: 20px;
}

.header ul a:hover {
  cursor: pointer;
  background-color: white;
  color: #1f605c;
}

.header .logo {
  float: left;
  display: block;
  padding: 24px 0px 20px 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: larger;
}

.d {
  color: #fa7455;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

a {
  color: white;
  text-decoration: none;
}

/*-------------
Menu icon dropdown
---------------*/

.header .menu-icon {
  padding: 35px 20px;
  position: relative;
  float: right;
  cursor: pointer;
}

.header .menu-icon .nav-icon {
  background: white;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background 0.2s ease-out;
}

.header .menu-icon .nav-icon::before {
  background: white;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: 5px;
}

.header .menu-icon .nav-icon::after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: -5px;
}

.header .menu-button {
  display: none;
}

.header .menu-button:checked ~ .menu {
  max-height: 300px;
}

.header .menu-button:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-button:checked ~ .menu-icon .nav-icon::before {
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-button:checked ~ .menu-icon .nav-icon::after {
  transform: rotate(45deg);
  top: 0;
}

/*----------------
Main
-----------------*/

.hero-img {
  background-image: url(../images/mainheader.jpg);
  height: 60vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position-x: 60%;
  background-position-y: 10%;
  top: 50px;
}

.hero-text {
  position: absolute;
  text-align: left;
  top: 12px;
  left: 30px;
  color: white;
  font-weight: 900;
  font-size: 3rem;
}

.cta {
  padding-top: 42px;
  text-align: center;
}

.cta-button {
  color: white;
  background-color: #1f605c;
  display: block;
  width: 130px;
  height: 30px;
  border-radius: 5px;
  padding-top: 10px;
  text-align: center;
  font-size: 0.9rem;
  margin: 4px auto;
}

.cta p {
  margin: 18px 0 10px 0;
  font-size: 0.9rem;
  font-weight: 600;
}

.mid-text {
  text-align: center;
  font-weight: 600;
  margin: 110px 0 90px;
}

.explore,
.new-in {
  text-align: center;
  margin-top: 55px;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: Roboto;
}

.container,
.img-container {
  text-align: center;
}

.block {
  display: inline-block;
  width: 150px;
  height: 230px;
  border: solid 1px #1f605c;

  margin: 5px;
}

.block img {
  width: 120px;
  height: 150px;
  padding: 10px 0px 0px 0px;
}

.block div {
  text-align: left;
  padding-left: 8px;
  font-weight: bold;
  font-size: 16px;
}

.block p {
  margin-bottom: 3px;
  font-size: 14px;
}

/*-----------
About us/Sale
------------*/

.img-container {
  position: relative;
  color: white;
  font-size: 1.5rem;
}

.img-block a img,
.img-block-two a img {
  height: 40vh;
  width: 90%;
  margin-top: 10px;
  background-position: center;
  background-size: cover;
}

.img-block h2 {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-block-two h2 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fall-section {
  text-align: left;
  color: #fa7455;
  padding: 4em 4em 1.5em 4em;
}

.fall-section h2,
.fall-section img {
  text-align: center;
}

.orange {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 60px;
  height: 40px;
}

.fall-section p {
  margin-top: 0px;
  line-height: 26px;
  font-size: 15px;
}

.disc-btn {
  border: #fa7455 solid 1px;
  color: #fa7455;
  text-transform: uppercase;
  width: 84%;
  padding: 0.7em 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  margin: 0 0 25px 0;
  font-size: 12px;
}

.reviews,
.about-cta {
  background-color: #7eae98;
  width: 100%;
  height: 30vh;
  margin-bottom: 40px;
  font-weight: 600;
}

.reviews p,
.reviews h3,
.reviews div {
  text-align: left;
  width: 60%;
  padding: 0 0 0 4em;
  line-height: 26px;
}

.reviews h3 {
  padding: 1.4em 0 0 4em;
  font-weight: 400;
  font-size: 16px;
}

.reviews img {
  width: 24%;
  padding: 0 0 0 4em;
}

.reviews div {
  font-size: 14px;
}

/*---------
Footer
-----------*/

footer {
  width: 90%;
  height: 30vh;
  border-top: solid #ddb361;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #1f605c;
}

footer ul {
  margin-top: 28px;
}

footer ul li,
.copyright {
  list-style: none;
  font-family: Playfair Display;
  line-height: 25px;
  padding: 0.2rem 0 0 0;
  font-weight: 400;
  font-size: 15px;
}

.copyright {
  padding-left: 2.5em;
}

.logo-parent {
  position: relative;
}

.footer-logo {
  position: absolute;
  width: 35%;
  right: 3em;
  bottom: 20px;
  right: 13px;
  max-width: 90px;
}

/*-------------
About us page
--------------*/

.abouth1 {
  position: relative;
  padding: 100px 0 20px 0;
  color: #1f605c;
  margin: 0;
  text-align: center;
}

.about-p,
.about-cta p {
  padding: 20px;
  font-size: 14px;
  text-align: left;
  width: 60%;
  margin: 0 auto 0 auto;
}

.img-about {
  height: 40vh;
  width: 80%;
  margin-top: 10px auto 10px auto;
  background-position: center;
  background-size: cover;
  padding: 10px 0 20px 40px;
}

.about-cta {
  height: 40vh;
  margin: 20px 0 40px 0;
  color: white;
}

.about-cta p {
  font-size: 30px;
  text-align: center;
}

.cnt-shop {
  border: white solid 1px;
  display: block;
  margin: 20px auto 0 auto;
  width: 50%;
  text-align: center;
  padding: 7px;
  font-family: roboto, sans-serif;
}

/*-----------------
Media querys
----------------*/

/* Tablet */

@media only screen and (min-width: 481px) and (max-width: 768px) {
}

/* Desktop */

@media (min-width: 769px) {
  .header li {
    float: left;
    padding-top: 6px;
  }

  .header li a {
    padding: 20px 25px;
    outline: none;
  }

  .header .menu {
    clear: none;
    display: flex;
    justify-content: center;
    max-height: none;
    margin-right: 4em;
  }

  .header .menu-icon {
    display: none;
  }

  h1 {
    font-size: 4em;
    color: white;
  }
}
