/* Custom Properties */

:root {
  --clr-orange: #fa7455;
  --clr-green: #1f605c;
  --clr-lightgreen: hsla(150, 31%, 86%, 0.979);
  /* --clr-lightgreen: #a5cab9; */
  --clr-grey: #676767;
  --clr-white: #fff;
  --clr-black: #000;

  --ff-main: 'Poppins', sans-serif;
  --ff-sec: 'Playfair Display', serif;

  --fw-regular: 400;
  --fw-bold: 700;
  --fw-xbold: 800;
}

/* CSS RESET */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-main);
  font-weight: var(--fw-regular);
  font-size: 1rem;
}

img, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*-----------
Fonts
----------- */

.hero-text,
.mid-text,
.mid-text-top,
.reviews,
.abouth1,
.about-cta {
  font-family: Playfair display, sans-serif;
}


/* Navbar */

header {
  background-color: rgba(31, 96, 92, 0.408);
 /* background-color: hsla(173, 4%, 41%, 0.408); */
  background: linear-gradient(to bottom, rgba(63, 63, 63, 0.7), rgba(78, 78, 78, 0));
  position: fixed;
  z-index: 30;
  width: 100%;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease-in-out;
}

header.clicked {
  background-color: var(--clr-green);
}

.header-scrollClick {
  background-color: var(--clr-white);
  background: none;
  color: var(--clr-green);
}

li {
  list-style: none;
}

header nav a {
  color: var(--clr-white);
  text-decoration: none;
}

header nav a::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background-position: center bottom;
  background: var(--clr-white);
  transition: width .2s ease-in;
}

header nav a:hover::after {
  width: 30%;
}

.navbar {
  min-height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.nav-cart {
  width: 26px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5em;
  margin: auto; 
  padding-right: 150px;
}

.nav-menu.scrolled {
  color: var(--clr-green);
  background-color: var(--clr-white);
}

.nav-menu.scrolled li {
  border-bottom: 1px solid var(--clr-green);
}

.nav-menu.scrolled li:last-child {
  border-bottom: none;
}

.nav-logo {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: var(--fw-xbold);
  padding-left: 2em;
}

.nav-logo:hover::after {
  cursor: pointer;
  width: 0;
}

.d {
  color: var(--clr-orange);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 20px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: var(--clr-white);
}

.bar-scrolled {
  background-color: var(--clr-green);
}

nav i {
   color: var(--clr-white);
   margin-right: 2em;
}

.header-scrolled {
  background-color: var(--clr-white);
  color: var(--clr-green);
  background: var(--clr-white);
  box-shadow: 1px 10px 6px 3px rgba(126, 126, 126, 0.8);
  -webkit-box-shadow: 1px 10px 5px 1px rgba(117, 117, 117, 0.15);
  -moz-box-shadow: 1px 10px 5px 1px rgba(88, 88, 88, 0.15);
}

.header-scrolled nav a {
  color: var(--clr-green);
}

.header-scrolled nav i {
  color: var(--clr-green);
}

.header-scrolled nav div .bar {
  color: var(--clr-green);
}

.header-scrolled nav a::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: var(--clr-green);
  transition: width .2s ease-in;
}

.header-scrolled nav a:hover::after {
  width: 30%;
}

.log-in {
  display: none;
}

.header-scrolled .nav-logo:hover::after {
  cursor: pointer;
  width: 0;
}

/*----------------
Main
-----------------*/

.hero-img {
  background-image: url(../images/mainheader.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: bottom 60% left 0;
  display: grid;
}

.hero-text {
  position: absolute;
  text-align: left;
  margin: 5.2rem clamp(0.5rem, 8vw, 38rem);
  color: white;
  font-family: var(--ff-sec);
  font-weight: var(--fw-xbold);
  font-size: clamp(1rem, 9vw + 1rem, 8rem);
  max-width: 900px;
  line-height: 9rem;
}

.btn-header {
  position: absolute;
  text-align: center;
  align-self:flex-end;
  justify-self: center;
  margin-bottom: 70px;
  display: flex;
  gap: 1em;
}

 .cta-button {
  text-align: center;
  padding: 0.6rem 2em;
  background-color: var(--clr-white);
  color: var(--clr-green);
  width: 170px;
  text-decoration: none;
  transition: 0.5s;
  border: solid 1px var(--clr-white);
} 

.cta-button:hover {
  background: none;
  color: var(--clr-white);
}

.eco-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
}

.eco-group i {
  align-items: center;
  flex-direction: row;
  text-align: center;
  font-size: var(5rem);
  color: var(--clr-green);
  opacity: 0.6;
}

.mid-text-top, .mid-text {
  margin: 6.5em 0;
  font-size: 1.6rem;
  color: var(--clr-green);
  font-family: var(--ff-sec);
  text-align: center;
}

.mid-text {
  max-width: 900px;
  margin: 6.5em auto 0;
}

.explore,
.new-in {
  color: var(--clr-green);
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: var(--ff-main);
}

/* About Us Main */

.about-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  max-width: 1200px;
  margin: 10rem auto;
  padding: 0 30px;
  height: 420px;
}

.about-img-link {
  display: flex;
  flex-direction: row;
}

.about-img {
  object-fit: cover;
  width: 400px;
  height: 400px;
  transition: .7s ease-in;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: var(--clr-green);
  line-height: 2rem;
  width: calc(100% / 2);
  font-family: var(--ff-sec);
  font-size: 1.1rem;
  height: 350px;
  width: 420px;
  margin-top: 20px;
}

.learn-more {
  margin-top: 25px;
  font-weight: var(--fw-bold);
  text-decoration: none;
  color: var(--clr-green);
}

.background-img-about {
  background-color: #000;
  width: 400px;
  height: 400px;
  object-fit: cover;
  z-index:10;
  position: relative;
  transition: transform 2s ease-in;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  overflow: hidden;
  cursor: pointer;  
}

.background-img-about:hover a {
  transition: 2s ease-in;
  -webkit-transition: 2s;
  -moz-transition: 2s;
}

.about-learn-more:hover {
  transition: 1s ease-in;
}

.about-learn-more {
  position: absolute;
  z-index: 9;
  color: var(--clr-white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: 1s ease-in;
}


.background-img-about:hover img {
  opacity: 0.3;
  transform: scale(1.2);
}

.background-img-about:hover .about-learn-more {
  opacity: 1;
}

.bold {
  font-weight: var(--fw-bold);
}



/* CARD CONTAINER */

.caro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 35px;
  touch-action: pan-x;
  touch-action: none;
  -ms-touch-action: none;
}

.wrapper {
  max-width: 1600px;
  position: relative;
  touch-action: pan-x;
  touch-action: none;
  -ms-touch-action: none;
} 

.caro-container .wrapper .carousel {
  display: flex;
  cursor: pointer;
  overflow: hidden;
  scroll-behavior: smooth;
  touch-action: none;
  -ms-touch-action: none;
}

.caro-container .wrapper .carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.caro-container .wrapper .carousel.dragging .product-card {
  pointer-events: none;
}

/* CARD */

.product-card {
  flex: 0 0 auto;
  width: calc(100% / 4);
  /* height: 600px; */
  margin-left: 12px
}

.product-card:first-child {
  margin-left: 0px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 500px;
}

.image-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tag-group {
  display: flex;
  flex-direction: column;
}

.image-tag {
  position: absolute;
  color: var(--clr-white);
  font-size: 0.7rem;
  background-color: var(--clr-grey);
  padding: 12px 15px;
  
}

.image-tag2 {
  position: absolute;
  color: var(--clr-white);
  font-size: 0.7rem;
  background-color: var(--clr-green);
  padding: 12px 15px;
  left: calc(14% + 15px);
  /* display: none; */
}

.card-btn {
  position: absolute;
  bottom: 1px;
  right: 25%;
  transform: translateY(-50%);
  padding: 10px;
  width: 50%;
  border: none;
  outline: none;
  color: var(--clr-green);
  text-align: center;
  background: var(--clr-white);
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
  text-decoration: none;
}

.product-card:hover .card-btn {
  opacity: 0.9;
}

.grid-product-card:hover .card-btn {
  opacity: 0.9;
}

.card-btn:hover {
  background: none;
  outline: var(--clr-white) solid 1px;
  color: var(--clr-white);
  border-bottom: none;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 3px;
  color: var(--clr-green);
}

.no-underline {
  text-decoration: none;
}

.card-price {
  margin: 10px 10px 0 3px;
  color: var(--clr-green);
}

.actual-price {
  color: var(--clr-grey);
  opacity: 0.5;
  text-decoration: line-through;
  font-size: 0.875rem;
}

.wrapper i {
  height: 46px;
  width: 46px;
  text-align: center;
  line-height: 46px;
  color: var(--clr-grey);
  background: var(--clr-white);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 2;
}

.wrapper i:first-child {
  left: -23px;
  display: none;
}

.wrapper i:last-child {
  right: -23px;
}

/* NEW IN */

.new-wrapper {
  display: flex;
  cursor: pointer;
  overflow: hidden;
  scroll-behavior: smooth;
}

.new-in-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  max-width: 1400px;
  padding: 10px 35px;
  margin: auto;

}

.new-product-card {
  flex: 0 0 auto;
  width: calc(100% / 3);
  /* height: 600px; */
  margin-left: 12px;
  cursor: pointer;
}

.new-product-card:first-child {
  margin-left: 0;
}

.new-product-card:hover .card-btn {
  opacity: 0.9;
  transition: 0.5s;
}


/* Newsletter */

.newsletter {
  display: flex;
  justify-content: center;
  margin: 100px auto;
  align-items: center;
  padding: 0 50px;
  max-width: 1200px;
  gap: 1rem;
}

.newsletter-form {
  border: solid 1px var(--clr-green);
  border-top: none;
  border-left: none;
  display: flex;
  
}

.newsletter-sign {
  font-family: var(--ff-sec);
  font-size: 1.4rem;
  color: var(--clr-green);
  max-width: 400px;
  width: calc(100% / 2);
}

.news-input {
  padding: 6px;
  font-size: 0.8rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  flex-grow: 2;
}

.news-button {
  border: var(--clr-green);
  color: var(--clr-white);
  background-color: var(--clr-green);
  padding: 5px 10px;
  cursor: pointer;
}

.news-button:hover {
  background-color: #337c77;
}

.newsletter-error {
  color: rgb(231, 68, 68);
  font-size: .8rem;
  display: none;
}

.newsletter-success {
  color: rgb(26, 141, 70);
  font-size: .8rem;
  display: none;
}

.news-checkbox {
  display: flex;
  margin-top: 10px;
}

.news-checkbox label {
  font-size: 0.8rem;
  margin-left: 5px;
  color: var(--clr-green);
}

/* WP */

.search-container {
  display: flex;
  justify-content: space-between;
}

.search-input {
  margin: 0 40px 40px 0;
  font-size: 0.8rem;
  border: #1f605c solid 0.5px;
}

#search-input {
  border: none;
}

.search-button {
  font-size: 0.8rem;
  border: none;
  color: white;
  background-color: #1f605c;
}

.catergories {
  margin: 0 0 30px 20px;
}

.catergories label {
  font-size: 0.8rem;
  margin-left: 15px;
  color: var(--clr-green);
}


/* REVIEWS */

.review-section {
  height: 350px;
  background-color: var(--clr-lightgreen);
  margin: 100px 0;
}

.review-carousel {
  position: relative;
  max-width: 1000px;
  height: 350px;
  margin: 100px auto;
  background-color: var(--clr-lightgreen);
  column-gap: 40px; 
}

.review-slide {
  background-color: var(--clr-lightgreen);
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: left;
  flex: 0 0 auto;
  width: calc(100% / 1);
  gap: 1rem;
  padding: 0 20px 0 50px;
  opacity: 0;
  transition: 0.3s ease-in;
}

.review-slide[data-active] {
  opacity: 1;
}

.review-carousel ul {
  list-style: none;
}

.review-button {
  background: none;
  position: absolute;
  border: none; 
  top: 75%;
  color: var(--clr-green);
  z-index: 3;
  font-size: 3.5rem;
}

.review-button:hover {
  cursor: pointer;
}

.review-button.next {
  left: 55%;
}

.review-button.prev {
  left: 45%;
}

.review-slide h3 {
  font-size: 1.5rem;
  color: var(--clr-green);
  padding-bottom: 10px;
  font-family: var(--ff-sec);
}

.stars {
  max-width: 120px;
}

.review-slide p {
  color: var(--clr-green);
  font-size: 1.3rem;
  font-style: italic;
  margin-bottom: 8px;
}

.review-slide div {
  color: var(--clr-green);
  font-size: 1rem;
}

/* To top button */

.to-top {
  background-color: var(--clr-green);
  position: fixed;
  bottom: 300px;
  right: 32px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-white);
  pointer-events: none;
  opacity: 0;
  transition: all .4s;
  text-decoration: none;
  cursor: pointer;
  z-index: 1000;
}

.to-top.active {
  bottom: 200px;
  opacity: 1;
  pointer-events: auto;
}

/*---------
Footer
-----------*/

footer {
  height: 380px;
  border-top: 0.5px solid #d4cdcd;
  margin: 0 auto;
  color: #1f605c;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25rem;
  font-size: 0.9rem;
  padding: 0 70px;
}

footer ul {
  padding: 0;
}

.footer-left {
  line-height: 2rem;
}

.footer-right {
  display: flex;
  flex-direction: column;
  gap: 3rem
}

.footer-logo {
  width: 100px;
}

footer ul li a {
  text-decoration: none;
  color: var(--clr-green);
  cursor: pointer;
}

/* Product Page */

.product-container {
  max-width: 75rem;
  margin: 0 auto;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 2rem;
  margin: 0 30px;
}

.featured-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 2rem;
  margin: 0 30px;
}

.grid-product-card {
  flex: 0 0 auto;
  width: 100%;
  height: 600px;
}

.product-hero {
  position: relative;
  margin-bottom: 30px;
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

 .product-header {
  position: absolute;
  object-fit: cover;
  height: 350px;
  width: 100%;
  object-position: 0 90%; 
   object-position: 0 52%; 
   object-position: bottom 70px; 
 } 

.product-h1 {
  position: absolute;
  color: var(--clr-white);
  justify-content: center;
  align-items: center;
  
}

.product-hero p {
  position: absolute;
  color: var(--clr-white);
  padding-top: 100px;
}

.product-info {
  text-decoration: none;
}

.second-nav-products {
  display: flex;
  gap: 1.1rem;
  max-width: 72rem;
  margin: 0 auto 80px;
  padding: 0 10px;
  font-size: 0.8rem;
}

.second-nav-products li a,
.second-nav-products li,
.second-nav-product-spe li a,
.second-nav-product-spe li {
  text-decoration: none;
  color: rgb(87, 121, 102);
}


/* Specific Page */

.specific-container {
  max-width: 75rem;
  margin: 60px auto;
  display: flex;
  gap: 3rem;
  padding: 0 25px;
}

.second-nav-product-spe {
  display: flex;
  gap: 1.1rem;
  max-width: 75rem;
  margin: 100px auto 50px;
  padding: 0 25px;
  font-size: 0.8rem;
}

.specific-text-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 43.75rem;
}

.specific-img-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 43.75rem;
}

.specific-text-container h1 {
  color: var(--clr-green);
  font-size: 1.8rem;
  margin: 10px 0;
  font-weight: var(--fw-regular);
}

.specific-text-container p {
  font-size: 0.9rem;
}

.img-item1 {
  object-fit: cover;
  object-position: center 60%;
  max-width: 700px;
  height: 500px;
}

.img-item2, .img-item3 {
  max-width: 21.375rem;
  height: 340px;
  object-fit: cover;
}

.spec-img-flex {
  display: flex;
  gap: 1rem;
}

.specific-price {
  display: flex;
  gap: 2.5rem;
  font-size: 1.7rem;
}

.specific-old-price {
  line-height: 3.5rem;
  font-size: 1.1rem;
  text-decoration: line-through;
  color: var(--clr-grey);
  padding-bottom: 15px;
}

.size-button {
  border: 1px solid var(--clr-green);
  color: var(--clr-green);
  outline: var(--clr-green);
  padding: 5px;
  height: 40px;
  width: 40px;
  line-height: 27px;
  text-align: center;
  cursor: pointer;
}

.size-button.active {
  border: none;
  background-color: var(--clr-green);
  color: var(--clr-white);
  cursor: pointer;
}

.size-b-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.specific-text {
  max-width: 20.5rem;
  color: var(--clr-green);
}

.specific-text p {
  margin: 20px 0 30px 0;
}

.specific-last-p {
  margin-bottom: 8rem;
}

.cart-button {
  padding: 1rem 7.5rem;
  background-color: #1f605c;
  color: var(--clr-white);
  cursor: pointer;
  transition: all .5s ease;
  max-width: 20rem;
  font-size: .7rem;
  font-weight: bold;
}

.cart-button:hover {
  background-color: #3c7471;
}

.to-checkout {
  padding: .92rem 7.5rem;
  color: var(--clr-white);
  background-color: var(--clr-green);
  text-decoration: none;
  border: 1px solid var(--clr-green);
  text-align: center;
  font-size: .7rem;
  font-weight: bold;
  max-width: 20rem;
  transition: background-color .5s ease;
}

.to-checkout:hover {
  cursor: pointer;
}
  
/* About Us Page */

.image-about-1 {
  height: 600px;
  display: flex;
  width: 100%;
}

.image-about-2 {
  height: 300px;
  display: flex;
  width: 100%;
  margin: 100px 0;
}

.image-about-1 img {
  width: calc(100% / 3);
  object-fit: cover;
}

.image-about-2 img {
  width: calc(100% / 5);
  object-fit: cover;
}

.about-text-container {
  max-width: 760px;
  margin: 100px auto 100px;
}

.about-text-container p {
  color: var(--clr-green);
  font-size: 1.1rem;
  line-height: 30px;
}

.about-h1,
.about-h2 {
  font-family: var(--ff-sec);
  color: var(--clr-green);
  font-weight: var(--fw-xbold);
  margin-bottom: 30px;
}



.about-p-margin-bot {
  margin-bottom: 40px;
}

.about-img-lady {
  object-position: -180px 0;
}

.about-two-container {
  display: flex;
  height: 600px;
  margin: 20px auto 80px;
  max-width: 1600px;
  justify-content: center;
}

.about-card {
  max-height: 600px;
  overflow: hidden;
  width: calc(100% / 2);
  position: relative;
}

.about-card img {
  height: 600px;
  object-fit: cover;
  position: relative;
}

.about-card div {
  position: absolute;
  z-index: 5;
  color: var(--clr-white);
  top: 450px;
  left: 40px;
  max-width: 700px;
  font-size: 1.5rem;
  font-family: var(--ff-sec);
}

.about-thanks {
  margin: 70px 0 100px;
  color: var(--clr-green);
  font-weight: var(--fw-xbold);
  font-family: var(--ff-sec);
  font-size: 1.5rem;
}

.about-btn-div {
  display: flex;
  justify-content: center;
}

.about-continue-btn {
  text-decoration: underline;
  color: var(--clr-green);
  font-weight: var(--fw-xbold);
}


/* FAQ */

.faq-header {
  height: 380px;
}

.faq-img {
  position: relative;
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.faq-h1 {
  color: var(--clr-white);
  z-index: 4;
  font-size: 2.5rem;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,0);
}

.faq {
  max-width: 700px;
  margin: 10px auto;
  padding: 0 1rem 1rem 1rem;
  border-bottom: 1px solid #a8b1b0;

}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: max-height .7s ease;
}

.faq-question h2 {
  font-size: 1.3rem;
  color: var(--clr-green);
  padding-top: 8px;
}

.faq-question i {
  color: var(--clr-green);
  transition: transform .5s ease;
}

.faq-answer p {
  padding: 1rem 0;
  line-height: 1.6;
  font-size: .9rem;
  color: var(--clr-green);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height .7s ease;
  cursor: pointer;
}

.faq.active .faq-answer {
  max-height: 300px;
  transition: max-height .7s ease;
}

.faq.active i {
  transform: rotate(180deg);
}

.faq-contact {
  color: var(--clr-green);
  max-width: 700px;
  margin: 100px auto;
}

.faq-contact a {
  font-weight: var(--fw-xbold);
  text-decoration: none;
  color: var(--clr-green);
}

/*------------
Contact Page
-------------*/

.contact-main {
  display: flex;
  max-width: 760px;
  margin: 50px auto;
  gap: 10rem;
  /* align-items: center; */
  justify-content: center;
}

.contact-h1 {
  color: var(--clr-green);
  margin: 100px auto;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input {
  border: .1px solid rgb(216, 216, 216);
  margin-bottom: 8px;
  width: 270px;
}

.contact-form textarea {
  border: .1px solid rgb(216, 216, 216);
  height: 70px;
  margin-bottom: 8px;
}

.contact-form label {
  font-size: .8rem;
  margin-bottom: 4px;
  color: var(--clr-green);
}

.contact-info div {
  color: var(--clr-green);
}

.phone {
  margin-top: 45px;
}

.open {
  margin-top: 70px;
  font-weight: var(--fw-bold);
}

.send-btn {
  background-color: var(--clr-green);
  color: var(--clr-white);
  padding: 10px;
}

.send-btn:hover {
  cursor: pointer;
  background-color: #337c77;
}

.form-error-row {
  display: flex;
}

.error {
  color: rgb(231, 68, 68);
  font-size: .8rem;
  margin-left: 15px;
  display: none;
}

.successMessage {
  color: rgb(50, 138, 50);
  font-size: .8rem;
  display: none;
}

/* Account */

.account-header {
  height: 400px;
}

.account-h1 {
  z-index: 5;
  color: var(--clr-white);
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
}

.account-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  position: relative;
  object-position: bottom;
}

.account-form {
  display: flex;
  flex-direction: column;
  max-width: 520px;
  margin: 0 auto;
}

.account-form label {
  color: var(--clr-green);
  font-size: .8rem;
  margin-bottom: 5px;
}

.account-form input {
  margin-bottom: 15px;
  padding: 5px 5px;
}

.account-btn {
  margin-top: 20px;
  padding: 6px 0;
  color: var(--clr-white);
  border: none;
  background-color: var(--clr-green);
  cursor: pointer;
}

.account-btn:hover {
  background-color: #337c77;
}

.account-form-help {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 50px 0;
  color: var(--clr-green);
  font-size: .8rem;
}

.account-form-help p {
  cursor: pointer;
}

/* Checkout Page */

.checkout-header {
  height: 300px;
}

.checkout-header img {
  position: relative;
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

.checkout-header h1 {
  position: absolute;
  color: var(--clr-white);
  z-index: 5;
  top: 15%;
  left: 50%;
  transform: translate(-50%,0);
}

.checkout-container {
  max-width: 62.5rem;
  margin: 80px auto;
  display: flex;
  gap: 4rem;
  padding: 0 35px;
}

.checkout-info-container {
  max-width: 28.75rem;
}

.checkout-accordion {
  border-bottom: 1px solid #a8b1b0;
}

.checkout-contact-info {
  display: flex;
  flex-direction: column;
  color: var(--clr-green);
  font-size: .9rem;
}

.checkout-contact-info input {
  margin-bottom: 10px;
  padding: 3px 6px;
  
  border: 1px solid rgba(163, 163, 163, 0.5);
}

.checkout-postal {
  display: flex;
  gap: 1rem;
  max-width: 460px;
}

.checkout-postal input {
  width: 222px;
}

.checkout-p-column {
  display: flex;
  flex-direction: column;
} 

.checkout-question h2 {
  color: var(--clr-green);
  font-size: 1.2rem;
  margin-top: 15px;
}

.checkout-question i {
  color: var(--clr-green);
  transition: transform .5s ease;
  margin-top: 15px;
}

.checkout-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: max-height .7s ease;
}

.checkout-shipping-row:last-child {
  padding-bottom: 1rem;
}

.checkout-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height .7s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: .8rem;
}

.checkout-shipping-row {
  display: flex;
  flex-direction: row;
  gap: .6rem;
}

.checkout-question.active ~ .checkout-answer {
  max-height: 300px;
  transition: max-height .7s ease;
}

.checkout-question.active i {
  transform: rotate(180deg);
}

.visa {
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  color: var(--clr-green);
  gap: .7rem
}

.visa i {
  margin-left: .5rem;
}

.edit {
  margin-left: 10.5rem;
  font-size: 1rem;
}

.checkout-sign-up {
  color: var(--clr-green);
  margin: 30px 0;
}

.checkout-checkbox {
  margin-right: 7px;
}

.checkout-btn-container {
  display: flex;
}

.checkoutpage-btn {
  width: 100%;
  background-color: var(--clr-green);
  color: var(--clr-white);
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  padding: 12px 0;
}

.checkoutpage-btn:hover {
  background-color: #337c77;
}

.checkout-order-container {
  max-width: 28.75rem;
  display: flex;
  flex-direction: column;
}

.checkout-order-container h2 {
  color: var(--clr-green);
  text-align: center;
  margin-bottom: 1.5rem;
}

.summary-img-row {
  display: flex;
  gap: 1.3rem;
  justify-content: center;
  align-items: center;
  color: var(--clr-green);
}

.order-image {
  height: 120px;
  width: 120px;
  object-fit: cover;
  object-position: bottom;
}

.order-product {
  display: flex;
  flex-direction: column;
  gap: .7rem;
}

.order-price {
  font-weight: var(--fw-bold);
}

.order-discount-container {
  display: flex;
  margin-top: 2.5rem;
  gap: .5rem;
}

.order-discount-container input {
  padding: 3px 6px; 
  border: 1px solid rgba(163, 163, 163, 0.5);
}

.order-discount-container button {
  border: none;
  background-color: var(--clr-green);
  color: var(--clr-white);
  padding: 0 13px;
  border-radius: 4px;
  cursor: pointer;
}

.order-discount-container button:hover {
  background-color: #337c77;
}

.order-price-summary {
  color: var(--clr-green);
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.order-price-summary div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order-total {
  font-weight: var(--fw-bold);
}

.checkout-form-row {
  display: flex;
  gap: 1rem;
}

.checkout-error {
  color: rgb(231, 68, 68);
  font-size: .8rem;
  display: none;
}

/* Success Page */

.success-header {
  height: 300px;
}

.success-header img {
  height: 300px;
  width: 100%;
  position: relative;
  object-fit: cover;
  object-position: 0 80%;
}

.success-header h1 {
  position: absolute;
  color: var(--clr-white);
  z-index: 5;
  top: 15%;
  left: 50%;
  transform: translate(-50%,0);
  font-size: 3rem;
}

.success-container {
  max-width: 24rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--clr-green);
  padding: 0 25px;
}

.thank-you {
  font-weight: var(--fw-bold);
}

.success-link {
  text-decoration: none;
  font-weight: var(--fw-bold);
  color: var(--clr-green);
}

/*-----------------
Media querys
----------------*/

@media screen  and (max-width: 1400px) {

  .product-card { 
    width: calc(100% / 3);
  }

  .second-nav-products {
    margin: 20px 0 25px 20px;
  }

  .about-card div {
    max-width: 600px;
  }
}

@media  screen and (max-width: 1130px){

  .specific-container {
    padding: 0 25px 0 90px;
  }

  .cart-button {
    padding: 1rem 5.6rem;
    background-color: #1f605c;
    text-align: center;
    max-width: 18rem;
  }

  .to-checkout {
    max-width: 18rem;
    padding: .92rem 5.6rem;
  }

  .specific-img-container,
  .spec-img-flex {
    max-width: 600px;
  }

  .img-item2,
  .img-item3 {
    max-width: 18rem;
  }
  .about-card div {
    font-size: 1.2rem;
    max-width: 500px;
  }
}

@media screen and (max-width: 1050px) {
  .specific-container {
    padding: 0 25px 0 50px;
  }

  .about-card div {
    font-size: 1.2rem;
    max-width: 450px;
  }

}

@media screen and (max-width: 975px) {
  .specific-container {
    padding: 0 25px 0 28px;
  }
  .specific-container {
    margin: 20px auto;
  }

  .about-card div {
    font-size: 1.2rem;
    max-width: 400px;
  }
}
  

@media screen  and (max-width: 950px) {
  .product-card {
    width: calc(100% / 2);  
  }

  .new-product-card {
    width: calc(100% / 2);
    overflow: hidden;
  }

  .new-product-card:last-child {
    display: none;
  }

  .mid-text-top {
    font-size: 1.4rem
  }

  /* footer */

  footer {
    gap: 17rem;
  }

  .to-top {
    right: 0;
  }

  .mid-text {
    font-size: 1.3rem;
    max-width: 500px;
    padding: 0 30px;
  }

  .checkout-container {
    gap: 2.3rem; 
  }

  .second-nav-products {
    margin: 40px 0 40px 20px;
  }

  .specific-container {
    flex-direction: column;
    align-items: center;
    max-width: 57.5rem;
    margin: 20px auto;
    gap:1rem
  }

  .specific-img-container,
  .spec-img-flex {
    max-width: 57.5rem;;
  }

  .specific-text {
    max-width: 48rem;
    color: var(--clr-green);
  }

  .img-item1 {
    max-width: 57.5rem;
  }

  .img-item2,
  .img-item3 {
    max-width: 21rem;
  }

  .specific-text-container {
    align-self: baseline;
    padding-left: 6rem;
  }

  .specific-text-container h1 {
    font-size: 1.6rem;
    margin: 0;
  }

  .specific-price {
    font-size: 1.2rem;
    margin: 0;
    line-height: 0;
  }

  .specific-old-price {
    font-size: 1rem;
    line-height: 1;
  }

  .nav-menu {
    gap: 4rem
  }

}

@media (max-width: 870px) {
  .hamburger {
    display: block;
    padding-right: 1rem;
    order: 1;
    margin-left: 5px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%; 
    top:64px;
    gap: 2px;
    flex-direction: column;
    background-color: var(--clr-green);
    width: 50%;
    text-align: left;
    transition: 0.3s;
    z-index: 55;
    padding-right: 0;
  }

  .nav-item {
    margin: 1em 35px 0 0;
    padding-bottom: 14px;
    border-bottom: 0.1px solid var(--clr-white);
    width: 100%;
    
  }

  .nav-item:last-child {
    border: none;
    padding-bottom: 520px;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-logo {
    padding-left: 0;
    order: 2;
    margin: auto;
    
  }

  .log-in {
    display: block;
  }

  .nav-user {
    display: none;
  }

  .nav-cart {
    order: 3;
    /* margin-right: 15px; */
    /* margin-left: 25px; */
  }

  header nav a:hover::after {
    width: 0;
  }

  /* About Main */

  .about-text {
    font-size: 1rem;
  }

  .hero-text {
    line-height: 8rem;
  }

  .contact-main {
    max-width: 600px;
    gap: 4rem;
  }

  /* Products Page */

  .product-grid {
    grid-template-columns: 1fr 1fr;
    gap: 1.4rem;
  }

  .grid-product-card {
    height: 510px;
  }

  .product-image {
    height: 420px;
  }

  .product-header {
    height: 300px;
    top: 0;
  }

  .specific-text-container {
    max-width: 46rem;
  }

  .cart-button {
    padding: 1rem 5.6rem;
    background-color: #1f605c;
    text-align: center;
    max-width: 46rem;
    
  }

  .to-checkout {
    /* max-width: 18rem; */
    padding: .92rem 5.6rem;
    max-width: 46rem;
  }

  /* Checkout Page */

  .checkout-container {
    max-width: 60rem;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 35px;
  }

  .second-nav-products,
  .second-nav-product-spe {
    margin: 20px 0 25px 20px;
  }

  .second-nav-product-spe {
    margin-top: 100px;
  }

  .specific-text-container {
    padding-left: 4rem;
  }

  .about-card div {
    font-size: 1.1rem;
    max-width: 300px;
  }

  .about-h1,
  .about-h2 {
    font-size: 1.5rem;
    padding: 0 25px;
  }

  .about-text-container p {
    font-size: 1rem;
    padding: 0 25px;
  }

  .about-thanks {
    padding: 0 25px;
    font-size: 1.1rem;
  }

  .about-continue-btn {
    padding: 0 25px;
    font-size: 1rem;
  }
}

@media (max-width: 769px) {

  /* Newsletter */

  .newsletter {
    flex-direction: column;
    gap:2rem;
  }

  .newsletter-sign {
    
    font-size: 1.2rem;
  }

  .to-top.active {
    bottom: 20px;
  }


  /* Main */

  .hero-img {
    /* height: 70vh; */
    background-position-x: 60%;
    background-position-y: 40%;
  }

  .hero-text {
    line-height: 7rem;
  }


  .about-cta p {
    font-size: 37px;
    margin-bottom: 30px;
  }

  .mid-text-top {
    font-size: 1.3rem
  }


  /* Checkout Page */

  .check-block {
    width: 30%;
    margin: 0 200px 0 100px;
  }

  .order-summary {
    margin-left: 100px;
  }

  /* About us */

  .about-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
    gap: 1rem;
  }

  .about-block {
    height: 350px;
    width: calc(100% / 1);
  }

  .about-block:last-child {
    height: 350px;
  }

  .about-link {
    margin-bottom: 20px;
  }

  /* Footer */

  footer {
    flex-direction: column;
    gap: 3rem
  }

  /* Review */


  .review-slide p {
    font-size: 1.2rem;
  }

  .review-slide h3 {
    padding-bottom: 10px;
  }

  .review-slide div {
    padding-bottom: 40px;
  }

  .newsletter-sign {
    width: 350px;
  }  

  .second-nav-products,
  .second-nav-product-spe {
    margin: 20px 0 25px 20px;
  }
  .second-nav-product-spe {
    margin-top: 100px;
  }

  .specific-text-container {
    padding-left: 4rem;
  }

  .specific-text-container {
    padding-left: 1rem;
  }
}

@media screen  and (max-width: 720px) {

  .img-item1 {
    max-width: 40rem;
  }

  .img-item2, 
  .img-item3 {
    max-width: 18rem;
  }

  .about-card div {
    font-size: 1rem;
    max-width: 270px;
  }

  .faq {
    max-width: 500px;
  }

  .faq-question h2 {
    font-size: 1.1rem;
  }

  .faq-contact {
    margin: 60px 95px;
  }

  .account-form {
    max-width: 430px;
  }
}

@media screen  and (max-width: 650px) {

  .hero-text {
    line-height: 5.6rem;
    padding-top: 20px;
  }

  .mid-text {
    font-size: 1.1rem;
    max-width: 500px;
    padding: 0 30px;
  }

  .mid-text-top {
    font-size: 1.2rem;
    padding: 0 35px;
  }

  .wrapper {
    overflow: hidden;
  }

  .product-card {
    width: 100%;
    overflow: hidden;
  }

  .new-product-card {
    width: calc(100% / 1);
    overflow: hidden;
  }

  .new-product-card:nth-child(2) {
    display: none;
  }

  .wrapper i:first-child {
    left: -13px;
  }
  
  .wrapper i:last-child {
    right: -13px;
  }

   /* Review */

  .review-slide p {
    font-size: 1rem;
  }

  .review-button {
    font-size: 2.5rem;
    top: 80%;
  }

  .review-button.next {
    left: 55%;
  }
  
  .review-button.prev {
    left: 35%;
  }

  .about-section {
    gap: 2rem;
    margin: 6rem auto;
  }

  .contact-main {
    flex-direction: column;
    margin: 0 auto;
    gap: 0;
    width: 90%;
    text-align: left;
    justify-content: left;
    align-items: left;
    align-self: left;
  }

  .contact-info {
    justify-content: left;
    align-items: left;
    align-self: left;
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
  }

  .contact-form {
    margin-bottom: 30px;
  }

  .contact-form textarea,
  .contact-form input {
    width: 100%;
  }

  .contact-h1 {
    margin-bottom: 30px;
  }

  .second-nav-products,
  .second-nav-product-spe {
    margin: 20px 0 25px 20px;
  }
  .second-nav-product-spe {
    margin-top: 100px;
  }

  .specific-text-container {
    max-width: 80rem;
  }

  .img-item1 {
    max-width: 37rem;
  }

  .img-item2, 
  .img-item3 {
    max-width: 15rem;
  }

  .product-header {
    height: 300px;
    object-position: 0 100%;
    bottom: 0;
  }

  .visanumber {
    width: 140px;
  }

  .edit {
    margin-left: 4.5rem;
  }

  .about-card div {
    font-size: .9rem;
    max-width: 240px;
    padding-right: 5px;
    left: 20px;
  }

  .about-h1,
  .about-h2 {
    font-size: 1.5rem;
    padding: 0 50px;
  }

  .about-text-container p {
    font-size: .9rem;
    padding: 0 50px;
  }

  .about-thanks {
    padding: 0 50px;
    font-size: 1rem;
    margin: 30px auto 40px;
  }

  .about-continue-btn {
    padding: 0 50px;
    font-size: .9rem;
  }

  .about-text-container {
    margin: 80px auto;
  }

  .faq-contact {
    margin: 40px 60px;
  }

  .faq-header {
    height: 350px;
  }

  .faq-img {
    height: 300px;
  }

}

@media screen  and (max-width: 530px){

  .product-header {
    height: 252px;
  }


  .product-hero {
    height: 270px;
  }

  .product-hero-p {
    font-size: .8rem;
    
  }
  
  .about-section {
    flex-direction: column;
    align-items: center;
    height: 600px;
    padding: 0 35px;
  }

  .about-text {
    padding: 0 35px;
    margin-top: 0;
    width: 350px;
  }

  .background-img-about {
    width: 350px;
  }

  .about-img {
    width: 350px;
  }

  .hero-text {
    font-size: 3.85rem;
    padding-top: 21px;
    line-height: 4.2rem;
  }

  .contact-main {
    width: 90%;
  }

  .checkout-contact-info,
  .checkout-postal {
    max-width: 410px;
  }

  .checkout-postal input {
    max-width: 160px;
  }

  .grid-product-card {
    height: 450px;
  }

  .product-image {
    height: 360px;
  }

  .second-nav-products,
  .second-nav-product-spe {
    margin: 20px 0 25px 20px;
  }
  .second-nav-product-spe {
    margin-top: 100px;
  }

  .img-item1 {
    max-width: 36rem;
    height: 300px;
  }

  .img-item2, 
  .img-item3 {
    max-width: 14rem;
    height: 200px;
  }

  .specific-text-container h1 {
    font-size: 1.4rem;
  }

  .specific-price {
    font-size: 1.1rem;
  }

  .specific-old-price {
    font-size: .9rem;
  }

  .faq {
    max-width: 450px;
  }

  .faq-question h2 {
    font-size: 1rem;
  }

  .faq-contact {
    margin: 60px 45px;
  }

  .account-form {
    max-width: 380px;
  }

  .checkout-header h1 {
    top: 25%;
  }
}

@media screen  and (max-width: 480px) {

  

  .img-item1 {
    max-width: 34rem;
    height: 300px;
  }

  .img-item2, 
  .img-item3 {
    max-width: 12rem;
    height: 200px;
  }

  .specific-container {
    padding: 0 25px;
    gap: 1rem
  }

  .hero-text {
    font-size: 3.6rem;
  }

  .about-card div {
    font-size: .9rem;
    max-width: 200px;
    padding-right: 5px;
    left: 15px;
    top: 400px;
    line-height: 1.8;
  }

  .faq {
    max-width: 410px;
  }

  .faq-question h2 {
    font-size: 1rem;
  }

  .faq-contact {
    margin: 60px 45px;
  }

  .account-h1 {
    top: 25%;
  }

}

@media screen  and (max-width: 420px) {

  .img-item1 {
    max-width: 33rem;
    height: 300px;
  }

  .img-item2, 
  .img-item3 {
    max-width: 11rem;
    height: 200px;
  }

  .second-nav-product-spe {
    margin-top: 80px;
  }

  .hero-text {
    font-size: 3.3rem;
  }

  .about-text-container {
    margin: 50px auto;
  }

  .faq {
    max-width: 390px;
  }

  .faq-question h2 {
    font-size: 1rem;
  }

  .faq-contact {
    margin: 60px 45px;
  }

  .account-form {
    max-width: 360px;
  }

}

@media screen  and (max-width: 400px){

  .hero-text {
    font-size: 3.03rem;
    padding-top: 25px;
  }

  .cta-button {
   margin-bottom: 60px;
  }

  footer {
    gap: 2rem;
  }

  .newsletter-sign {
    width: 264px;
  }

  .product-grid {
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
    margin: 0 15px;
  }

  .grid-product-card {
    height: 380px;
  }

  .product-image {
    height: 280px;
  }

  .second-nav-products,
  .second-nav-product-spe {
    margin: 20px 0 20px 7px;
  }

  .edit {
    margin-left: 3rem;
  }
  

  .img-item1 {
    max-width: 33rem;
    height: 270px;
  }

  .img-item2, 
  .img-item3 {
    max-width: 11rem;
    height: 170px;
  }

  .second-nav-product-spe {
    margin-top: 80px;
  }

  .faq {
    max-width: 370px;
  }

  .faq-question h2 {
    font-size: .9rem;
  }

  .faq-contact {
    margin: 60px 20px;
  }

  .account-form {
    max-width: 340px;
  }

}

@media screen  and (max-width: 380px) {
  .img-item1 {
    max-width: 32rem;
    height: 280px;
  }

  .img-item2, 
  .img-item3 {
    max-width: 10rem;
    height: 180px;
  }

  .hero-text {
    font-size: 3rem;
  }
}